<!DOCTYPE html>
<html>

<head>
    <style>
        .confirm-message {
            text-align: center;
            font-size: 25px;
            display: block;
            margin: 5px;
        }

        .confirm-btns {
            float: left;
            color: white;
            border-radius: 3px;
            padding: 5px;
            margin-left: 5px;
            border: black solid 1px;
            text-decoration: none;
            background-color: coral;
        }
    </style>
</head>

<body>
    {% include "navbar.html" %}
    <h class='confirm-message'>{{message}}</h>
    {% for item in buttons.items %}
    <a class='confirm-btns' href="{% url item.1.1 %}" id={{item.0}}>{{item.1.0}}</a>
    {% endfor %}
</body>

</html>