<!DOCTYPE html>
<html>

<head>

    <link rel="stylesheet" href="js-persian-cal.css">
    <script src="js-persian-cal.min.js"></script>
    <style>
        #input-form {
            margin: 25px;
            padding: 25px;
            width: 30%;
            background-color: rgba(128, 128, 189, 0.5);
            border-radius: 15px 5px 15px 5px;
        }

        form input {
            width: 80%;
        }
        label::after{
            content:'';
            display: block;
        }
    </style>

</head>

<body>
    {% include "navbar.html" %}
    <div id="input-form">
        <form method="POST">
            {% csrf_token %}
            {{form.as_p}}
            <button type="submit">ذخیره</button>
        </form>
    </div>
</body>

</html>